<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


	<head>
		<title>Spring Boot 2</title>

 
		 <!--  last: use csap styles to overwrite any of the above if needed -->
		<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap.css')} }" 
			rel="stylesheet"  type="text/css" media="screen" />
			
		<script th:src="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/simple.js')} }"></script>
		<!--
		<script th:src="@{/js/simple.js}"></script>
		-->
		<style>
			table.simple {
				width: 80em;
				margin-bottom: 3em;
			}

			table td:nth-child(1) {
				width: 15em;
			}

			table td:nth-child(2) {
				width: 5em;
			}

			header .noteAlt {
				font-size: 0.7em;
				margin: 0;
				padding: 3px;
			}

			div.info {
				width: 80em;
				color: black;
			}
		</style>
	</head>

	<body>
	
		<header>Simple Boot 2 Core Demo</header>
		
		<div class="info">
			This is a bare bones implementation of Spring Boot APIs.<br/>
			- while spring boot is easy to configure - there are many recommended practices to be "production ready"<br/> 
			- refer to csap-starter-simple and csap-starter-test for comprehensive examples
		</div>


		<table id="SpringMvc" class="simple">
			<thead>

				<tr>
					<th><div class="title">Model View Controller</div> Click to
						test</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td><a class="simple" href=".">LandingPage</a></td>
					<td>html</td>
					<td>This page: SpringBoot View using Thymeleaf html5 template

						<div class="news">SpringBoot can easily be deployed as either
							jar or traditional war file. Use of templates such as thymeleaf
							(boot default) or freemarker are recommended. Thymeleaf is trivial
							to integrate and use in SpringBoot (view links below).</div> <a
							class="pushButton" target="_blank"
							href="http://www.thymeleaf.org/doc/articles/thvsjsp.html">Compare
							templates versus jsp</a> <a class="pushButton" target="_blank"
													href="http://www.thymeleaf.org/doc/articles/springmvcaccessdata.html">Learn
							about Using html templates</a>

					</td>
				</tr>

				<tr>
					<td><a  class="simple" th:href="@{testAsync(delaySeconds=5)}">test @async</a></td>
					<td>html</td>
					<td>verify async thread pool</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentTime">currentTime</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentUser">currentUser</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text, and id of logged in user</td>
				</tr>

				<tr>
					<td><a class="simple" href="currentUserDetails">currentUserDetails</a></td>
					<td>text</td>
					<td>Spring MVC returning plain text, and id of logged in user</td>
				</tr>

				<tr>
					<td> 
						<a class="simple" href="helloWithOptionalName">helloWithOptionalName</a>
						<br/>
						<a class="simple" href="helloWithOptionalName/sampleName">helloWithOptionalName/sampleName</a>
					
					</td>
					<td>json</td>
					<td>Spring @GetMapping with Optional @PathVariable</td>
				</tr>

				<tr>
					<td><a class="simple" href="testException">testException</a></td>
					<td>text</td>
					<td>Spring @RestController Exception Advice</td>
				</tr>

				<tr>
					<td><a class="simple" href="testNullPointer">testNullPointer</a></td>
					<td>text</td>
					<td>Spring @Controller Null Pointer Exception Advice</td>
				</tr>

				<tr>
					<td><a class="simple" href="missingTemplate">missingTemplate</a></td>
					<td>text</td>
					<td>Missing thymeleaf template</td>
				</tr>

				<tr>
					<td><a class="simple" href="malformedTemplate">malformedTemplate</a></td>
					<td>text</td>
					<td>malformedTemplate thymeleaf template. ALL elements must be
						terminated</td>
				</tr>

				<tr>
					<td><a class="simple" href="addSessionVar">addSessionVar</a></td>
					<td>text</td>
					<td>Spring MVC with session variable; note embedded tomcat can
						optional persist over restarts, or distribute for stateless
						containers via redis</td>
				</tr>

				<tr>
					<td><a class="simple" href="testAclFailure">testAclFailure</a></td>
					<td>html</td>
					<td>Spring Security - verify ACL deny message</td>
				</tr>

				<tr>
					<td><a class="simple" href="maxConnections">maxConnections test</a></td>
					<td>json</td>
					<td>Sleep method for testing servlet accept count limits and threads</td>
				</tr>


			</tbody>

		</table>


	</body>

</html>
